* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 1.3rem;
    background: url(../images/board-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    padding-top: 1.5em;
    color: #fff;

}

h1 {
    margin-bottom: 0;
    color: goldenrod;
}

button {
    font-weight: inherit;
    color: rgb(34, 92, 34);
    border: 0;
    border-radius: 15px;
    padding: 1em 0;
    width: 150px;
    background-color: goldenrod;
}


#new-game-btn,#reset-game-btn{
    background-color: #fff;
    color: rgb(151, 123, 51);

}
.main {
    display: flex;
    justify-content: space-evenly;
    margin: 0 5em;
}